<h1>Cat Breed Search</h1>

<%= form_with url: search_cats_path, method: :post, local: true do |form| %>
  <%= form.label :breed, "Enter Cat Breed:" %>
  <%= form.text_field :breed %>
  <%= form.submit "Search" %>
<% end %>
